<?xml version='1.0' encoding='utf-8'?>
<!-- web application context file for tomcat. -->
<!-- this file should be place at /META-INF/context.xml -->
<Context>
    <Resource name="jdbc/gfwFunctionaltestDataSource" type="javax.sql.DataSource"
        driverClassName="oracle.jdbc.OracleDriver" username="cfw" password="cfw"
        url="jdbc:oracle:thin:@db-server:1521/tera_server" maxIdle="16" minIdle="0" maxWaitMillis="60000"
        maxTotal="96" />
</Context>
